.dashboard {

    .societies {
        padding-top: 16px ;

    }


    @media screen and (min-width: 800px) {
        .view-society {
            width: 400px ;
            margin: 0 10px 10px 0 ;
        }
        .society-column {
            float: left ;
        }
    }
}
