.dashboard {

    .societies {
        margin: auto ;
        padding-top: 16px ;
        .view-society {
            margin: 0 0 20px 0 ;
        }
    }

    @media screen and (min-width: 800px) {
        .view-society {
            width: 400px ;
            margin: 0 20px 20px 0!important ;
        }
        .society-column {
            float: left ;
        }
    }

      @media screen and (max-width: 800px) {
        .societies {
            width: auto!important ;
        }
        .library-column {
            width: auto!important ;
        }
    }

}
