.lambda-thread {


    .thread-messages {

        .thread-message {
            line-height: 18px ;
            margin: 0 0 10px 0 ;
            .lambda-member {
                color: $grey ;
                margin-right: 10px ;
            }
            .message-time {
                font-style: italic ;
            }
        }

        .thread-message:first-child {
            // margin-bottom: 18px!important ;
        }
    }

    .add-message {
        .thread-input {
            margin-right: 67px ;
        }
        .right {
            margin-top:3px;
}
    }
}