.landing {

    .landing-title {
        font-size: 32px;
        font-family: 'Molengo', sans-serif;
        text-align: center ;
    }

    .learn-more {
        > div {
            margin-bottom: 10px;
            ul {
                list-style-type: circle;
                list-style-position: inside;
                padding-left: 20px;
            }
            .box {
                background-color: none ;
            }
        }
        h3 {
            font-size: 16px ;
            margin-bottom: 5px ;
            font-family: 'Molengo', sans-serif;
        }
    }

    @media screen and (min-width: 800px) {

        .landing-pitch {
            margin: 0 auto ;
            width: 800px;

            .pitch {
                float: left ;
                width: 400px;
                font-size: 20px;
                padding-top: 16px;
                line-height: 24px;
                > div {
                    margin-bottom: 22px ;
                }
                >div:last-child {
                    margin-bottom: 0 ;
                }
            }
            .graph-demo {
                float: left ;
                svg {
                    width: 400px;
                }
            }
        }

    }

    @media screen and (max-width: 799px) {

        .landing-pitch {
            margin: 0 auto 20px auto ;
            .pitch {
                text-align: center ;
                font-size: 20px;
                margin: 0px 0 0 0;
                line-height: 24px;
                > div {
                    margin-bottom: 22px ;
                }
                >div:last-child {
                    margin-bottom: 0 ;
                }
            }
            .graph-demo {
                display: none ;
                svg {
                    width: 100%;
                    height: auto!important;
                }
            }
        }
    }

    .landing-popular {

        .playbooks {
            padding-top: 0!important ;
        }

    }


}

@mixin boxed {


}