.library {

    .playbooks, .societies {
        margin: auto ;
        width: 100%;
        padding-top: 16px;
        .view-playbook, .view-society, .make-suggestion {
            margin: 0 0 20px 0 ;
        }

        @media screen and (min-width: 800px) {
            .view-playbook, .view-society, .make-suggestion {
                width: 400px ;
                margin: 0 20px 20px 0 ;
            }
            .library-column {
                float: left ;
            }
        }


    }

    @media screen and (max-width: 800px) {
        .playbooks, .societies {
            width: auto!important ;
        }
        .library-column {
            width: auto!important ;
        }
    }

}


.make-suggestion {

    .closed {
        text-align: center ;
        padding: 30px 0 ;
        background-color: white ;
        color: $grey ;
        border: 1px $grey solid ;
    }

}