.library {

    .playbooks {
        padding-top: 16px;
        .view-playbook {
            margin: 0 0 10px 0 ;
        }

        @media screen and (min-width: 800px) {
            .view-playbook {
                width: 400px ;
                margin: 0 10px 10px 0 ;
            }
            .library-column {
                float: left ;
            }
        }
    }
}
