.manage {

    .manage-menu {
        padding: 20px 0 ;
        text-align: center;
        button {
            margin: 0 5px ;
        }
    }

}


.manage-members {
    .members {
        > div {
            margin-bottom: 20px ;
        }
    }
}


.manage-societies {
    .societies {
        > div {
            margin-bottom: 20px ;
        }
    }
}