.playbook {

    .playbook-controls {
        padding: 10px 10px 0 0 ;
        text-align: center;
        button {
            margin: 0 5px ;
        }
        button.active {
            background-color: white ;
            color: $grey ;
            border: 1px solid $grey ;
        }
        margin-bottom: 30px;
    }
    .playbook-name {
        font-size: 32px;
        font-family: 'Molengo', sans-serif;
        text-align: center ;
        margin: 0 0 24px 0 ;
    }

    .playbook-description {
        font-size: 22px;
        line-height: 24px;
        text-align: center ;
        margin: 0 0 24px 0 ;
    }

    .graph {
        margin-top: 24px;
        .playbook-automata {
            margin-top: 40px;
            svg {
                width: 100% ;
            }
            margin-bottom: 40px;
        }
    }

    .create-society {
        margin-top: 24px ;
        .create-society-form {
            border-radius: 5px;
            padding: 18px;
            background-color: $grey ;
            color: white ;
            input {
                margin-bottom: 18px ;
            }
            textarea {
                margin-bottom: 18px ;
            }
            button {
                background-color: white ;
                color: $grey ;
            }
        }
    }

    .thread {
        margin-top: 24px ;
    }






}