.profile {

    padding: 10px;

    .profile-header {
        @include box-common ;
        padding: 10px ;
        background-color: $blue;
        .profile-picture-image {
            .profile-picture-image-inner {
                width: 100px ;
                height: 100px ;
                background-color: white;
                border-radius: 50px;
                text-align: center;
                font-size: 44px;
                line-height: 100px;
                margin: auto;
                overflow: hidden ;
                color: $grey ;
                img {
                    height: 100%;
                }
            }

            .darkroom {
                width: 100px;
                text-align: center ;
                margin-top: 10px;
                input {
                    display: none ;
                }

                label {
                    display: block;
                    cursor: pointer ;
                    color: white;
                }
            }


        }

        .profile-bio {

            margin-left: 110px;

            button.icon-pencil {

                background-color: transparent;
                padding: 0;
                margin-left: 5px;
            }
            .profile-name {
                display: table;
                width: 100%;
                margin-bottom: 10px;
                > span:first-child {
                      display: table-cell;
                      text-align: left;
                      font-size: 18px ;
                      padding-top: 5px;
                      vertical-align: middle ;
                      line-height: 20px;
                }
                span.profile-relationship {
                     display: table-cell;
                     text-align: right;
                     margin-left: 10px;
                     vertical-align: top ;
                     white-space: nowrap ;
                }
            }

            .profile-statement {
                line-height: 18px;
            }

            .profile-statement-edit {
            .profile-statement-edit-controls {
                text-align: right ;
                button {
                    margin-top: 10px;
                    margin-left: 10px;

                    padding: 6px 10px ;
                }
            }
            }
        }

    }

    .profile-new-story {
        text-align: center ;
        margin-top: 10px;

        button.icon-plus {
            @include round-button-fontello ;
        }
    }

    .profile-stories {
        margin-top: 10px;
    }

    .profile-panels {
        margin-top: 10px;
        @include box-common;
        background-color: $blue ;
        padding: 0 0 10px 10px;
        button {
            margin-top: 10px;
            margin-right: 10px ;

        }
       input {
            width: 100px;
            display: inline ;
            margin-right: 10px;
            height: 30px;
        }
    }
}