.rules {

    @include container;
    @include large-box;

    .box {
        margin-bottom: 10px;
        line-height: 18px;
        h2 {
            float: left;
            padding-right: 15px;
            font-size: 21px;
            line-height: 24px;
        }
        ol {
            margin-top: 10px;
            margin-left: 42px;
        }
    }
}