svg {
    g {
        polygon {
            fill: white ;
        }
        text {
            font-family: 'Pontano Sans', 'lucida grande', tahoma, verdana, arial, sans-serif;
            font-size: 12px;

        }
    }
}
