.view-society {
    border-radius: 5px;
    padding: 18px;
    background-color: $nblue ;
    color: white ;
    cursor: pointer ;
    .name  {
        font-size: 18px ;
        border-bottom: 1px solid white ;
        padding: 0 0 15px 0 ;
        margin: 0 0 15px 0 ;
    }
    .description {
        font-size: 14px ;
        line-height: 16px ;
    }
    .actions {
        > div {
            margin-top: 20px ;
        }
        .view-details {
            text-align: center ;
            button {
                background-color: white ;
                color: $grey ;
            }
        }
    }
}